<!-- partial:index.partial.html -->
<header>
  <div
    aria-busy="true"
    id="progress"
    hidden
    aria-label="Progressbar"
    role="progressbar"
  ></div>
</header>

<main role="main" class="container">
  <img
    src="https://openmoji.org/data/color/svg/1F4BE.svg"
    width="200"
  />
  <h1 class="text-center">Website Downloader</h1>
  <p class="text-center">Download any website including assets!</p>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="custom-search-input">
          <form method="get" class="form" action="/search">
            <div class="input-group">
              <input
                id="website"
                type="text"
                class="form-control input-lg"
                placeholder="https://archive.org/"
              />
              <span class="input-group-btn">
                <button id="download" class="btn btn-info btn-lg" type="button">
                  Download
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-12 text-center">
        <a
          class="github-button"
          href="https://github.com/alexanderroidl/website-downloader"
          data-icon="octicon-star"
          data-size="large"
          data-show-count="true"
          aria-label="Star alexanderroidl/website-downloader on GitHub"
        >Star</a>
      </div>

      <div class="col-lg-12">
        <h5 hidden id="nFilesP" class="text-center">Total downloaded files:
          <span id="nFiles" style="color: red;font-weight: bold">10</span></h5>
        <p class="log" id="log"></p>
        <button style="display: none" class="btn btn-success">Download website
          assets</button>
      </div>
    </div>
  </div>
</main>
<!-- partial -->