<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{title}}</title>

    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    {{{body}}}
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="/script.js"></script>

</html>